body {
    height: 100%;
}

.nav {
    margin: auto;
    margin-top: 5em;
    text-align: center;
}

.content-wrap {
    min-height: 30em;
    width: 65em;
    padding-top: 5em;
    margin: auto;
    font-family: 'Lato';
}

#selfie {
    height: 20em;
    width: auto;
    margin-top: 3em;
}
.about-info {
    margin-top: 5em;
    margin-left: 10em;
}

.blue {
    color:#337ab7;
    font-weight: bolder;
}

.about {
    height: 100%;
    width: 100%;
    padding: 0.5em;
}

.descriptor {
    width: 60%;
    margin-left: 1em;
}

.main-head {
    text-align: left;
    margin: 0;
    margin-bottom: 0.3em;
    font-weight: bolder;
}

.sub-head {
    font-weight: bolder;
    text-align: center;
    color: #337ab7;
}

.sub-head-large {
    font-weight: bolder;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: -0.4em;
    color: #337ab7;
}

.card {
    background-color: white;
    box-shadow: 1px 1px 10px 1px whitesmoke;
    border-radius: 1em;
    padding: 0.7em !important;
    min-height: 20em;
    margin-bottom: 1em;
}

.line {
    height: 0.2px;
}

.tiny {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.8em;
    margin-left: 0.3em;
}

.experience {
    height: 100%;
    width: 100%;
}

.skills {
    height: 100%;
    width: 100%;
}

.contact {
    height: 100%;
    width: 100%;
}
    
li {
    font-size: 1.4em;
}

#contact {
    max-width: 40em;
    margin: auto;
    padding: 1em;
}
#rating {
    max-width: 40em;
    margin: auto;
    padding: 1em;
}
.success {
    display: none;
    color: green;
    margin-top: 1em;
}
.error {
    display: none;
    color: red;
    margin-top: 1em;

}

.contact-container {
    padding: 2em;
    margin: auto;
    max-width: 40em;
}

.linkedin {
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;
}
.github {
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;
}

/*Media Queries for bootstrap breakpoints*/

@media (max-width: 991px) {
    .content-wrap{
        width: 100%;
    }
    .main-head {
        text-align: center;
    }
    .descriptor {
        text-align: center;
        width: 80%;
        margin: auto;
    }
    ul {
        margin: auto;
        text-align: center;
    }
}

@media (max-width: 768px) {
    #selfie {
        display: none;
    }
    .about-info {
        margin: 0;
        padding: 2em;
    }   
}